<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trainers</title>
  <%- include("../layout/head");  %>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<!-- Menu-->
<%- include("../layout/nav.ejs"); %>
<!-- End Menu-->
<!-- Header-->
<header class="header">
  <div class="container flex">
    <div class="text">
      <h1 class="mb">GYM Coach</h1>
      <p class="mb">
        Having a trusted expert guide you every step of the way.<br>
        Customized workouts to help you reach your goals
      </p>
    </div>
    <div class="visual"><img src="https://imgs.search.brave.com/lBR2L2BPswy2MvlLZNJeSp8nIwH82R-4XfNdN1ixbiw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vbGgzLmdv/b2dsZXVzZXJjb250/ZW50LmNvbS8tXzN4/SlFTQ0paYTQvWWFE/OFA4UHNvWEkvQUFB/QUFBQUFLY1EvbWg5/ZkgyTDk5dVU5bVpZ/cDNEMGYxX0pVLXZW/TU5EODR3Q0xjQkdB/c1lIUS9zMTYwMC8x/NjM3OTQwMjgzNTM3/NjQxLTMucG5nP3Jl/c2l6ZT05NTQsNzY2/JnNzbD0x" alt=""></div>
  </div>
</header>
<!-- End Header-->

<!-- Footer-->
<%- include("../layout/footer.ejs"); %>
<!-- End Footer-->
<!-- Ion Icons Js-->
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule="" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<!-- JS-->
<script>
  document.querySelector(".mobile-btn").addEventListener("click", function () {
  document.querySelector(".menu").classList.toggle("active");
  });
</script>