<footer class="footer">
    <div class="container flex">
      <p class="tertiary"></p>
      <h1>AI-B - </h1>
      <h1> 21EG106B07 </h1>
      <h1>, 21EG106B58 </h1>
      <h1>, 22EG506B02 </h1>
    </div>
  </footer>